.logo {
  height: 70%;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 68px;
  width: 95%;
  margin: 0 auto;
}
.banner-links {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #ff6060;
}
a:hover {
  text-decoration-line: underline;
  color: red;
}

.banner {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../assets/IMG.png);
  background-position: 50%;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  height: 220px;
  justify-content: center;
  margin: 20px auto;
  max-width: 95%;
  padding: 22px;
  position: relative;
}
.banner_title {
  color: #fff;
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .banner-links {
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  .logo {
    height: 30px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 550px) {
  .banner_title {
    font-size: 24px;
    line-height: 24px;
  }
  .banner {
    margin: 20px auto;
    height: 120px;
  }
}
